<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action="~/Name.cshtml" method="post">
    <div>
        Name: <input name="name" type="text"/>
    </div>
    <div>
        <input type="submit" value="" />
    </div>
</form>
</body>
</html>
